---
import type { Article, WithContext } from 'schema-dts'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import { getCollection, getEntries, render } from 'astro:content'

import BaseLayout from '../../layouts/layout.astro'
import Link from '../../components/link.astro'
import { components } from '../../helpers/mdx-components'
import { getPathFor } from '../../helpers/get-path-for'

import itemStyles from '../../styles/item.module.scss'
import asideStyles from '../../styles/aside.module.scss'

export const getStaticPaths = (async () => {
	const articles = await getCollection('article')
	return articles.map((article) => ({
		params: { article: article.id },
		props: { article },
	}))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { article } = Astro.props

const { Content } = await render(article)

const articleTags = await getEntries(article.data.tags)

const jsonLd: WithContext<Article> = {
	'@context': 'https://schema.org',
	'@type': 'Article',
	name: article.data.title,
	url: Astro.url.toString(),
	publisher: {
		'@type': 'Organization',
		name: article.data.publisher,
	},
	datePublished: article.data.date.toISOString(),
	genre: 'Columna d’opinió',
	keywords: articleTags.map((articleTag) => articleTag.data.name).join(', '),
	author: {
		'@type': 'Person',
		name: 'Carme Miquel i Diego',
		url: Astro.site?.toString(),
	},
	inLanguage: {
		'@type': 'Language',
		name: 'Catalan',
		alternateName: 'ca',
	},
}
---

<BaseLayout
	color="articles"
	title="Article"
	meta={{
		title: `${article.data.title} - Article`,
		...article.data.meta,
	}}
	isSingle
>
	<Fragment slot="aside-top">
		{
			articleTags.map((tag) => (
				<h2 class={asideStyles.title}>
					<Link href={getPathFor('article-tag', tag.id, tag.data.parent?.id)}>
						{tag.data.name}
					</Link>
				</h2>
			))
		}
	</Fragment>
	<article>
		<script
			is:inline
			set:html={JSON.stringify(jsonLd)}
			type="application/ld+json"
		/>
		<header>
			<h1 class={itemStyles.title}>{article.data.title}</h1>
			<div class={itemStyles.meta}>
				<span>{article.data.publisher}</span>. {
					article.data.date.toLocaleDateString('ca', { dateStyle: 'long' })
				}.
			</div>
		</header>
		<Content components={components} />
	</article>
</BaseLayout>
