---
import styles from '../styles/components/link-list.module.scss'

interface Props {
	items: {
		name: string
		url: `/${string}/`
		items?: {
			name: string
			url: `/${string}/`
		}[]
	}[]
}

const { items } = Astro.props
---

<ul class={styles['link-list']}>
	{
		items.map((item) => (
			<li>
				<a href={item.url}>{item.name}</a>
				{item.items && (
					<ul>
						{item.items.map((child) => (
							<li>
								<a href={child.url}>{child.name}</a>
							</li>
						))}
					</ul>
				)}
			</li>
		))
	}
</ul>
