---
interface Props {
	items: {
		name: string
		url: URL | `/${string}/`
		items?: {
			name: string
			url: URL | `/${string}/`
		}[]
	}[]
}

const { items } = Astro.props
---

<ul class="link-list">
	{
		items.map((item) => (
			<li>
				<a href={item.url}>{item.name}</a>
				{item.items && (
					<ul>
						{item.items.map((child) => (
							<li>
								<a href={child.url}>{child.name}</a>
							</li>
						))}
					</ul>
				)}
			</li>
		))
	}
</ul>

<style lang="scss">
	@layer component {
		.link-list {
			font-size: 1.1em;
			line-height: 1.8;
			list-style: none;
			padding-left: 0;

			ul {
				list-style: none;
				padding-left: 1em;
				font-size: 0.9em;
			}

			@media (width >= 760px) {
				:global(.articles) & {
					column-count: 2;
					column-gap: 2em;

					li {
						break-inside: avoid-column;
					}
				}
			}
		}
	}
</style>
