---
import '../styles/font-face.scss'
import '../styles/globals.scss'

import SiteHeader from '../components/site-header.astro'
import SiteFooter from '../components/site-footer.astro'
import IconSprite from '../components/icon-sprite.astro'

import styles from './layout.module.scss'

interface Props {
	color?: 'articles' | 'autora' | 'entrevistes' | 'llibres' | 'videos'
	title: string
	meta?: { title?: string; description?: string }
	isSingle?: boolean
}

const { color, title, meta, isSingle } = Astro.props
const slots = Astro.slots

const TitleTag = isSingle ? 'div' : 'h1'
---

<!doctype html>
<html lang="ca">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,viewport-fit=cover"
		/>
		<title>{`${meta?.title ?? title} - Carme Miquel`}</title>
		{
			meta?.description && (
				<meta name="description" content={meta.description} />
			)
		}
		{/* Prevent iOS from formatting a book ISBN as a phone number */}
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="author" href={`${Astro.site}humans.txt`} />
	</head>
	<body class={color}>
		<script
			is:inline
			defer
			data-domains="www.carmemiquel.com"
			data-host-url={import.meta.env.UMAMI_ANALYTICS_HOST}
			data-website-id={import.meta.env.UMAMI_ANALYTICS_ID}
			src={import.meta.env.UMAMI_ANALYTICS_SCRIPT}></script>
		<SiteHeader />
		<main class={styles.main}>
			<div class={styles['title-aside']}>
				<TitleTag class={styles.title}>{title}</TitleTag>
				{slots.has('aside-top') && <slot name="aside-top" />}
			</div>
			<div class={styles.content}>
				<slot>Hello world!</slot>
			</div>
			{
				slots.has('aside') && (
					<aside class={styles.aside}>
						<slot name="aside" />
					</aside>
				)
			}
		</main>
		<SiteFooter />
		<IconSprite />
	</body>
</html>
