---
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'

import BaseLayout from './layout.astro'
import Link from '../components/link.astro'
import { getPathFor } from '../helpers/get-path-for'

import styles from './videos.module.scss'

interface Props {
	frontmatter: {
		title: string
		meta?: {
			title?: string
			description?: string
		}
	}
}

const {
	frontmatter: { title, meta },
} = Astro.props

const videoCollection = await getCollection('video')
const videos = videoCollection.map((video) => ({
	title: video.data.title,
	url: getPathFor('video', video.id),
	thumbnail: video.data.thumbnail,
}))
---

<BaseLayout color="videos" title={title} meta={meta}>
	<ul class={styles['video-list']}>
		{
			videos.map((video) => (
				<li class={styles.video}>
					<Link href={video.url}>
						<Picture
							alt=""
							densities={[1.5, 2, 3]}
							formats={['avif', 'webp']}
							height={250}
							src={video.thumbnail}
						/>
						<span class={styles['video-title']}>{video.title}</span>
					</Link>
				</li>
			))
		}
	</ul>
	<slot />
</BaseLayout>
